//::: COLOR REFERENCE :::::::::::::::::::::::::::::

// A few default color values that all sites should have
$white: #FFF;
$black: #000;
$black-50: rgba(0,0,0,.50);
$light-grey: #CCC;
$grey: #666;
$dark-grey: #333;
$not-black: #222;

// Define your color values here, these are placeholders






//::: COLOR ASSIGNMENT :::::::::::::::::::::::::::::

// Assign these based on the colors defined above

	// Page
	$page-bkg: $white;
	$page-txt: $not-black;

	// Links
	$link-default-off: $not-black;
	$link-default-on: $light-grey;

	// Buttons
	$button-bkg-off: $white;
	$button-bkg-on: $black;
	$button-txt-off: $white;
	$button-txt-on: $white;

	// Borders
	$borders: $dark-grey;

	// Header
	$header-bkg: $white;

	// Forms

	$form-bkg-off: $black;
	$form-bkg-on: $white;
	$form-txt-off: $white;
	$form-txt-on: $black;

	$form-placeholder-off: $grey;
	$form-placeholder-on: $light-grey;

	$btn-bkg-off: $black;
	$btn-bkg-on: $white;
	
	$btn-txt-off: $white;
	$btn-txt-on: $black;



/* ::: COLORED SECTIONS ::::::::::::::::::::::::::::::::: */

// add this class to a section of the page that you want to change the color of

	.orange-section {
		
		a {
			&:link, &:visited {
				color: $black;
			}
			&:hover, &:focus, &:active {
				color: $black-50;
			}
		}
		.button {
			&:hover, &:focus, &:active {
				background: $black-50;
				
			}
		}
	}



/* ::: CLASSES ::::::::::::::::::::::::::::::::: */

// you can use these inline in your html
	.yellow { color: $black;}
