/*

GENERAL MIXINS: This project uses Bourbon so you can use any of the Bourbon mixins
http://bourbon.io/

- utility
- setting breakpoints

*/



/* ::: HIDING CONTENT ::::::::::::::::::::::::::::::::::::::::: */

	// http://shoptalkshow.com/episodes/058-with-derek-featherstone/  (skip to 32 minutes)
	@mixin hide() {
		display: none;
	}

	// unhide accessible content
	@mixin unhide() {
		position: static;
	}



/* ::: BREAKPOINTS ::::::::::::::::::::::::::::::::::::::::: */

	// http://web-design-weekly.com/2013/05/12/handy-sass-mixins/

	@mixin breakpoint($point) {
	  @if $point == large {
	    @media (min-width: em(980)) { @content; }
	  }
	  @else if $point == medium {
	    @media (min-width: em(650)) { @content; }
	  }
	}



/* ::: BREAKPOINTS ::::::::::::::::::::::::::::::::::::::::: */

	// retina background images
	// http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
	@mixin image-2x($image, $width, $height) {
	  @media (min--moz-device-pixel-ratio: 1.3),
	         (-o-min-device-pixel-ratio: 2.6/2),
	         (-webkit-min-device-pixel-ratio: 1.3),
	         (min-device-pixel-ratio: 1.3),
	         (min-resolution: 1.3dppx) {
	    /* on retina, use image that's scaled by 2 */
	    background-image: url($image);
	    background-size: $width $height;
	  }
	}





