/*

THIS SHEET IS FOR SITEWIDE STYLES RELATED TO:

- Layout
- Applying your color definitions from colors.scss
- Applying your typography definitions from type.scss

*/


/* ::: HTML ELEMENTS ::::::::::::::::::::::::::::::::::::::::: */

	// Set the background and font color for the html and body, if you don't have a different bkg for the body set both to be the same
	html {
		background: $page-bkg;
		color: $page-txt;
	}

	body {
		background: $page-bkg;
		color: $page-txt;
	}

	// transition all links by default
	a:hover, a:active, a:focus {
		@include transition (all .3s ease-in-out);
	}

	th {
		background-color: $black;
		color: $white;
	}




 

/* ::: SITE HEADER ::::::::::::::::::::::::::::::::: */

	.site-header {
		@include outer-container;


	}
	
	.site-header .site-title {

	}



/* ::: MAIN NAV ::::::::::::::::::::::::::::::::: */
	
	nav {
		@include outer-container;

	}


	.fixed { // this is used for the sticky header
	    position: fixed;
	    top: 0;
	}

	.nav-menu a {
		text-decoration: none;
		display: inline-block;
		line-height: 1.8em;
		margin: 0 3px 3px 0;
		padding: 1em 2em;
	}

	.nav-menu a:link, .nav-menu a:visited {

	}
	.nav-menu a:hover, .nav-menu a:active, .nav-menu a:focus {

	}

	/* Down States */
	.nav-menu .current_page_item a {

	}


/* ::: CONTENT AREA ::::::::::::::::::::::::::::::::: */
	
	.container-main{}   
	
	/* Page Nav */
	.page-nav a {
	}

	/* Page */
	.page {

	}

	/* Posts */
	.post {

	}

	/* Single */
	.single-template {

	}



	
/* ::: SIDEBAR: MAIN (NOTE: make it pop below the content on mobile) ::::::::::::::::::::::::::::::::: */

	.sidebar-main {

	}

	.sidebar-main ul {
		list-style-position: inside;
	}
	
	

/* ::: FOOTER ::::::::::::::::::::::::::::::::: */

	.footer {
		clear: both;
		padding-bottom: 20px;
		@include outer-container;

	}
		
	/* Credit */
	.site-credits a {
		letter-spacing: 1px;
	}



 

