//::: LOAD FONTS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	@import "../fonts/condensed.scss";



//::: DEFINE FONT FAMILIES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	@mixin monospace() {
		font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	}

	@mixin serif() {
		font-family: "Palatino Linotype", "Hoefler Text", "Times New Roman", times, serif; // cambria, cochin ??
	}

	@mixin sans() {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}


/*--- Display Fonts ~ try to use one or two at max in your design. this one is here for reference---*/

	@mixin condensed() {
		font-family: 'condensed';
		font-weight: normal;
	}



//::: APPLY FONT STYLES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


/*--- Base Font Settings ---*/
	body {
		@include sans();
		font-size: 14px; // base font size
		letter-spacing: .01em; // most fonts look better opened up just a little, you can adjust the value
		@include breakpoint(medium) {
			font-size: 16px;
		}
		line-height: 1.5;
	}

	// main content area
	.content-main em {
		font-style: italic;
	}
	.content-main strong {
		font-weight: 900;
	}
	.content-main p {
		margin-bottom: 1.5em;
	}


/*--- Links ---*/

	a:link, a:visited { color: $link-default-off; text-decoration: underline; }
	a:hover, a:active, a:focus { color: $link-default-on; text-decoration: none; }


/*--- Headings ---*/

	h1, h2, h3, h4, h5, h6 {
		clear: both; // this is needed for headings between floated content areas
	}

h1 { font-size:2.11538em; }
h2 { font-size:1.61538em; }
h3 { font-size:1.30769em; }

p {margin-bottom:1.5em}



