/*
ie7 hacks
*/

/* Self Clearing Floats */
.clear-fix { min-height: 1%; }

img { -ms-interpolation-mode: bicubic; } /* fixes image resizing for ie7 */

/* if bullet images are dissapearing for li's, uncomment this stuff below

#container-name li { width: 100%; }

*/